
/*.row {*/
	/*color: #0a65f7;*/
	/*font-family: sans-serif;*/
	/*text-transform: capitalize;*/
	/*border-color: #111111 1px solid; */
/*}*/
.container {
	/*background: red;*/
	border-color: 2px red;
	padding-top: 40px;
}

button {
	/*margin-right: 20px;*/
}

.qty {
	width: 40px;
	height: 40px;
	border: 1px solid transparent;
	border-bottom: 1px #000000 solid;
	/*background: #d1d1d1;*/
	margin-right: 20px;
	margin-left: 20px;
}

.imgBx {
	/*padding: 50px;*/
	/*width: 200px;*/

}

.imgbx img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
	/*padding-top: 100px;*/
	/*background: #d1d1d1;*/
	/*background: red;*/
}

.imgBx:hover {
	transform: scale(1.1);
	transition: transform 0.5s;
}

.contentBox {
	padding: 50px;
	word-wrap: break-word;
}

.col-md-3 {
	border: 1px;
	/*background: green;*/
	/*padding-right: 20px;*/
	/*margin-right: 20px;*/
	/*box-shadow: 2px 2px 10px;*/
}

.col-md-9 {
	background: #000000;
}

p {
	word-wrap: break-word;
}