/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');

/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}*/

html, body {
	height: 100vh; 
	/*background-color: transparent;*/
	/*background: url("/assets/app-bg-2.jpg") no-repeat center;*/
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #ffffff;
	/*background: #ebf5fc;*/
}

#particle-js {
	height: 100%;
	background: #f00;
}
.title {
	font-family: 'Bad Script', cursive;

}
/*.container {
	background-image: 
}*/

.card-dark {
	background: #333333;
	border-color: #333333
}

.card-dark-footer {
	background: #6b6b6b;
	color: #000000;
}

.menu-items {
	text-align: right;
	flex: 1 1 auto;
}
.menu-items a {
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	padding-left: 20px; 
}

.title-center {
	flex: 1 1 auto;
	text-align: right;
}

.sidebar {
	/*background: #b0b0b0;*/
	background-color: transparent;
	/*padding: 20px;*/
	font-size: 20px;
	letter-spacing: 1px
}

.mat-toolbar {
	background-color: transparent;
	/*position: absolute;*/
	color: #ffffff;
}

.mat-toolbar-row h1 a {
	color: #000;
	text-decoration: none;
	font-family: 'Bad Script', cursive;
	font-size: 30px;
	letter-spacing: 0em;
	padding-left: 50px;
	font-weight: bold;
	text-transform: uppercase;
}


.mat-sidenav .mat-nav-list a {
	color: #ffffff;
}

.mat-sidenav-content {
	/*background: #000000;*/
	background-color: transparent;
	color: #ffffff;
}

.mat-sidenav-container {
	background-color: transparent;
}

.button-border-flow {
	/*margin: 20px;*/
	padding: 50px 20px 10px 20px;
}

/*h1 a {
	font-size: 20px;
	letter-spacing: 5px;
	text-transform: uppercase;
	padding-left: 20px;
	font-family: cursive;
}*/

.button-border-flow a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #1670f0;
	padding: 5px 5px 0px 5px;
	margin-top: 20px;
	/*font-size: 30px;*/
	/*letter-spacing: 2px;*/
	/*text-transform: uppercase;*/
	text-decoration: none;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,.3);
	overflow: hidden;
}

.button-border-flow a:before{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 50%;
	background: rgba(255,255,255,0.05);
}

.button-border-flow a span:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #ededed, #262729);
	animation: animate1 2s linear infinite;
}

@keyframes animate1{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}

.button-border-flow a span:nth-child(2){
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100% ;
	background: linear-gradient(to bottom, #ededed, #262729);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate2{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(100%);
	}
}

.button-border-flow a span:nth-child(3){
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, #ededed, #262729);
	animation: animate3 2s linear infinite;
}

@keyframes animate3{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}

.button-border-flow a span:nth-child(4){
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100% ;
	background: linear-gradient(to top, #ededed, #262729);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(-100%);
	}
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }





/* N E O M O R P H I S M*/
.neomorph .card {
	width: 320px;
	margin: 20px;
	padding: 40px 30px;
	background: #ffffff;
	border-radius: 40px;
	box-shadow: -6px -6px 20px rgba(255,255,255,1),
				6px 6px 20px rgba(0,0,0,0.3);
	border-color: #ffffff;
}

.neomorph .card:hover {
	box-shadow: inset -6px -6px 5px rgba(255,255,255,0.5),
				inset 6px 6px 20px rgba(0,0,0,0.3);
	/*background: #d1d1d1;*/
	
}

.neomorph .card .imgBx {
	position: relative;
	text-align: center; 
}

.neomorph .card .imgbx img {
	max-width: 120px;
	border-radius: 10px;
}

.neomorph .card .imgBx:hover {
	transform: scale(1.4);
	transition: transform 0.5s;
}

.neomorph .card .contentBox {
	position: relative;
	margin-top: 20px;
	text-align: center;
}

.neomorph .card .contentBox h2 {
	color: #32a3b1;
	font-weight: 700;
	font-size: 1.4em;
	letter-spacing: 2px;
}

.neomorph .card .contentBox p {
	color: #32a3b1;
}

.neomorph .card .contentBox button {
	display: inline-block;
	padding: 10px 20px;
	margin-top: 15px;
	border-radius: 40px;
	border: 1px solid transparent;
	background: transparent;
	color: #32a3b1;
	font-size: 16px;
	text-decoration: none;
	box-shadow: -4px -4px 15px rgba(255,255,255,1),
				4px 4px 15px rgba(0,0,0,0.3);
}

.neomorph .card .contentBox button:hover {
	box-shadow: inset -4px -4px 15px rgba(255,255,255,1),
				inset 4px 4px 15px rgba(0,0,0,0.2);
	background: #d1d1d1;
}

.neomorph .card button:hover span {
	display: block;
	transform: scale(0.5);
}