<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Register</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="">Name</label>
            <input [(ngModel)]="registerUserData.name" name="name" type="text" class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input [(ngModel)]="registerUserData.email" name="email" type="text" class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input [(ngModel)]="registerUserData.password" name="password" type="password" class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label id="userType">You are a ..</label>
            <mat-radio-group class="form-control" name="userType" [(ngModel)]="registerUserData.userType">
               <mat-radio-button class="form-control" color="primary" *ngFor="let type of userTypes" [value]="type">{{type | titlecase }}</mat-radio-button>
            </mat-radio-group>
          </div>
          <button mat-raised-button (click)="registerUser()" color = "primary" class="float-right">Register</button>

        </form>
      </div>
    </div>
  </div>
</div>
